.missions-container {
  background-color: rgb(94, 81, 47);
  border-radius: 5pt;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  width: 80%;
}

.mission-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.mission-card {
  margin: 10px;
  display: inline-block;
  flex-basis: 45%;
  height: fit-content;
  border: 2px black solid;
  border-radius: 5pt;
  text-align: justify;
}

.mission-card > p:first-child {
  width: fit-content;
  padding: 5px 20px;
  font-size: larger;
  font-weight: bold;
}

.cardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}


@media screen and (max-width: 700px) {
  .missions-container {
    width: 100%;
    border-radius: 0%;
    padding: 5px 0;
    margin: 0;
  }

  .mission-card {
    margin: 1%;
  }
}

@media screen and (max-width: 413px) {
  .mission-card {
    margin: 1%;
    flex-basis: 90%;
  }
 
  /* txt */
  .mission-card > p:first-child {
    font-size: 1.2rem;
  }

  .cardInfo {
    font-size: 0.9rem;
  }
}