.solar-system-component {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.planetCards {
  text-align: center;
  display: flex;
  height: 30vh;
  overflow: auto;
  white-space: nowrap;
}

.planet-card {
  width: fit-content;
  height: fit-content;
}

.planet-card > img:hover {
  width: 120%;
  transition: all ease 300ms;
}

.planet-card > img {
  width: 100%;
  transition: all ease 300ms;
}

@media screen and (max-width: 700px) {
  .planetCards {
    height: 100%;
    padding: 0 5px;
  }

  .planet-card {
    width: 85px;
    height: 100px;
  }

  .planet-card > p {
    font-size: 0.8rem;
  }
  .planet-card > img {
    width: 50px;    
   }
}